body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.side {
    margin: 5px 0;
}

.top-header {
    padding-left: 20px;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
    font-size: 90%;
}

.question-related {
    line-height: 25px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-wechat {
    width: 95%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #666;;
    padding: 0 0 15px 0;
}

.red {
    color: red !important;
}

.redNotice {
    background-color: #d9534f;
}

.noticeMarginBottom {
    margin-bottom: 4px;
}

.avatarMarginTop {
    margin-top: 8px;
}

.mainBodyPadding {
    padding: 15px;
}

.body {
    background-image: url("https://salmonc.oss-cn-hangzhou.aliyuncs.com/94b70957-4f5c-4b94-ab57-9e24476b9f18.JPG");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

.background_transparent {
    background-color: transparent;
}

.page-right-block {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 10px;
    padding: 2px 15px 15px;
    border-radius: 10px;
}

.page-left-block {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px;
    padding: 10px 30px 10px;
    border-radius: 10px;
}

.soup {
    margin: 15px;
}

.soup-block {
    padding-left: 2px;
    padding-bottom: 2px;
}

.hot-stuff {
    margin: 10px 15px 15px;
}

.publish-direct {
    padding-top: 2px;
}

.hr-color{
    border-top: 1px solid #b5b5b5;
}